{% extends "bootstrap-base.html" %}

{% block content %}

    <p class="italic">Hello! Welcome!</p>
    <h1>PCA Project</h1>

    <ul class="list-inline">
      <li>
	<a href="/auth/login" class="btn btn-default btn-lg"><i class="fa fa-user fa-fw"></i> <span class="network-name">Log In</span></a>
      </li>
      <li>
	<a href="/auth/register" class="btn btn-default btn-lg"><i class="fa fa-user-plus fa-fw"></i> <span class="network-name">Register</span></a>
      </li>
    </ul>

{% endblock %}
