{% extends 'profile.html' %}

{% block navbar-right %}
<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="/auth/logout">Logout</a>
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
  <ui-view></ui-view>
</div>
{% endblock %}

{% block additionalJS %}
<!--controller -->
<script src="/www/app/app.js"></script>
<script src="/www/app/routes.js"></script>
<script src="/www/app/shared/mainController.js"></script>
<script src="/www/app/components/bookkeeper/bookkeeperController.js"></script>
<script src="/www/app/components/bookkeeper/payTerms/bkprPayTermsController.js"></script>
<script src="/www/app/components/bookkeeper/userMngmnt/bkprUsrMgmtController.js"></script>
<script src="/www/app/components/manager/managerController.js"></script>
<script src="/www/app/components/manager/donors/managerDonorsController.js"></script>
<script src="/www/app/components/manager/hours/managerHoursController.js"></script>
<script src="/www/app/components/profile/profileController.js"></script>
<script src="/www/app/components/worker/workerController.js"></script>


<input type="hidden" value={{ user.pk }} id="userId" />
<input type="hidden" value="{{ user.get_username }}" id="userName" />
{% endblock %}
