<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>User Profile</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="/www/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/www/node_modules/angular-ui-grid/ui-grid.min.css" rel="stylesheet">
    
    <link href="/www/css/profile.css" rel="stylesheet">
    
  </head>
  <body ng-app="userApp" ng-controller="mainController">
    <!-- navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <!-- Hmm? menubar collapse? -->
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
	  </button>
	  <a class="navbar-brand" href="/">PCA Project</a>
	</div>
	
	<div class="collapse navbar-collapse">
	  {% block navbar-right %}
	  <ul class="nav navbar-nav navbar-right">
	    <li>
	      <a href="/auth/login">Login</a>
	    </li>
	    <li>
	      <a href="/auth/register">Register</a>
	    </li>
	  </ul>
	  {% endblock %}
	</div>
	
      </div>
    </nav>

    {% block content %}
       Please log in to view content
    {% endblock %}
    

    <!-- Angular -->
    <script src="/www/node_modules/angular/angular.min.js"></script>
    <script src="/www/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/www/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    
    <script src="/www/node_modules/moment/min/moment.min.js"></script>

    <script src="/www/node_modules/angular-ui-grid/ui-grid.min.js"></script>
    

    <script src="/www/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="/www/node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

    <script src="/www/node_modules/spin/dist/spin.min.js"></script>
    {% block additionalJS %}    

    {% endblock %}

  </body>
</html>
