<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>User Profile</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="/www/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/www/css/profile.css" rel="stylesheet">
    
  </head>
  <body ng-app="userApp">
    <!-- navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <!-- Hmm? menubar collapse? -->
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
	  </button>
	  <a class="navbar-brand" href="/">PCA Project</a>
	</div>
	
	<div class="collapse navbar-collapse">
	  {% block navbar-right %}
	  <ul class="nav navbar-nav navbar-right">
	    <li>
	      <a href="/auth/login">Login</a>
	    </li>
	    <li>
	      <a href="/auth/register">Register</a>
	    </li>
	  </ul>
	  {% endblock %}
	</div>
	
      </div>
    </nav>

    <div class="container">
      <ui-view></ui-view>
    </div>

    <!-- Angular -->
    <script src="/www/lib/angular/angular.min.js"></script>
    <script src="/www/lib/ui-router/angular-ui-router.min.js"></script>
    <script src="/www/lib/angular-ui-bootstrap/ui-bootstrap-tpls-2.3.0.min.js"></script>

    <!--controller -->
    <script src="/www/js/profile.js"></script>

    {% block js-vars %}
    {% endblock %}

  </body>
</html>
