<div>
  <h3>Form 1</h3>
  <div class="input-group">
    <span class="input-group-addon">Date</span>
    <input type="text" class="form-control" aria-describedby="Todays Date" ng-model="currentDate">
  </div>

  <div class="input-group">
    <span class="input-group-addon">Name</span>
    <input type="text" class="form-control" value="<get user name>">
  </div>

  <div class="input-group">
    <span class="input-group-addon">Canvass hours</span>
    <input class="form-control" type="number" id="canvassHours" value="4">
  </div>

    <div class="input-group">
      <span class="input-group-addon">Other hours</span>
      <select class="form-control">
	<option>Training</option>
	<option>Travel</option>
	<option>Admin</option>
      </select>
      <input class="form-control" type="number" id="canvassHours" value="0">
  </div>

  <div class="input-group">
    <span class="input-group-addon">TRF:</span>
    <input type="text" class="form-control" placeholder="What's TRF?">
  </div>

  <br>
  add stuff here

  <br>
  <button class="btn btn-primary">Submit!</button>

  <br>
  <br>
  History here
  

</div>
