<div class="col-lg-8">
  <h3>Adjustments</h3>

  <div class="input-group">
    <span class="input-group-addon">Year:</span>
    <select class="form-control" ng-model="selectedYear" ng-options="year for year in yearOptions"  ng-change="changeYear(selectedYear)"></select>
    <br>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon">Canvasser:</span>
    <select class="form-control" ng-model="selectedCnvsr" ng-options="cnvsr.userInfo.first_name+' '+ cnvsr.userInfo.last_name for cnvsr in canvassers track by cnvsr.userInfo.pk"  ng-change="changeCnvsr(selectedCnvsr.userInfo.pk)"></select>
    <br>
  </div>
  
  <br>

  <h4><u>Credit Cards</u></h4>
  <!-- inputs area-->

  <div class="input-group" ng-repeat="unproccessedCC in unproccessedCCs">
    <span class="input-group-addon"><b>Cnvsr:</b>{{ unproccessedCC.user.username }}</span>
    <span class="input-group-addon"><b>Donor:</b>{{ unproccessedCC.donor.name }}</span>
    <span class="input-group-addon"><b>Date:</b>{{ unproccessedCC.formDate }}</span>
    
    <span class="input-group-addon"><b>Last 4:</b> {{ unproccessedCC.cc[0].last4 }}</span>
    <span class="input-group-addon"><b>Value:</b>{{ unproccessedCC.value | currency }} </span>
    <span class="input-group-addon">
      <button class="btn btn-default" ng-class="{'btn-success': unproccessedCC.adjustments.status}" ng-click="unproccessedCC.adjustments.status=1">Accepted</button>
      <button class="btn btn-default" ng-class="{'btn-danger': unproccessedCC.adjustments.status==0}" ng-click="unproccessedCC.adjustments.status=0">Declined</button>
    </span>
    <span class="input-group-addon">
      <div class="inut-group">
	$  <input class="form-control-inline" type="text" size="5" ng-disabled="!unproccessedCC.adjustments.status" ng-model="fee" placeholder="fee">
      </div>
    </span>
    <span class="input-group-addon">
      <button class="btn btn-primary" ng-disabled="(unproccessedCC.adjustments.status==null) && (fee==null)" ng-click="saveCCAdjustment($index)">Save</button>
    </span>
  </div>

  <!-- history area-->
  
  <br>

  <h4><u>Checks</u></h4>

    <div class="input-group" ng-repeat="unproccessedCheck in unproccessedChecks">
    <span class="input-group-addon"><b>Cnvsr:</b>{{ unproccessedCheck.user.username }}</span>
    <span class="input-group-addon"><b>Donor:</b>{{ unproccessedCheck.donor.name }}</span>
    <span class="input-group-addon"><b>Date:</b>{{ unproccessedCheck.formDate }}</span>
    
    <span class="input-group-addon"><b>CK Num:</b> {{ unproccessedCheck.ck[0].checkNum }}</span>
    <span class="input-group-addon"><b>CK Date:</b> {{ unproccessedCheck.ck[0].checkDate }}</span>
    <span class="input-group-addon"><b>Value:</b>{{ unproccessedCheck.value | currency }} </span>
    <span class="input-group-addon">
      <button class="btn btn-default" ng-class="{'btn-success': unproccessedCheck.adjustments.status}" ng-click="unproccessedCheck.adjustments.status=1">Accepted</button>
      <button class="btn btn-default" ng-class="{'btn-danger': unproccessedCheck.adjustments.status==0}" ng-click="unproccessedCheck.adjustments.status=0">Declined</button>
    </span>
    <span class="input-group-addon">
      <div class="inut-group">
	$  <input class="form-control-inline" type="text" size="5" ng-disabled="!unproccessedCheck.adjustments.status" ng-model="fee" placeholder="fee">
      </div>
    </span>
    <span class="input-group-addon">
      <button class="btn btn-primary" ng-disabled="(unproccessedCheck.adjustments.status==null) && (fee==null)" ng-click="saveCKAdjustment($index)">Save</button>
    </span>
  </div>
  
</div>
