<div>
  <div class="input-group">
    <span class="input-group-addon btn" ng-click="goToPrev()"> 
      <i class="glyphicon glyphicon-chevron-left"></i>
      Prev</span>    
    <span class="input-group-addon">From:</span>
    <input class="form-control" ng-model="startOfPeriodStr" />
    <span class="input-group-addon">To:</span>
    <input class="form-control" ng-model="endOfPeriodStr"/>
    <span class="input-group-addon btn" ng-click="goToNext()" ng-show="showNext()">Next
      <i class="glyphicon glyphicon-chevron-right"></i>
    </span>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon">Canvasser:</span>
    <select class="form-control" ng-model="selectedCnvsr" ng-options="cnvsr.userInfo.first_name+' '+ cnvsr.userInfo.last_name for cnvsr in canvassers track by cnvsr.userInfo.pk"  ng-change="changeCnvsr(selectedCnvsr.userInfo.pk)"></select>
    <br>
  </div>

  <div ng-show="selectedCnvsr.userInfo.pk" ng-cloak>

    
    <label>Hours:</label>
    <table class="table table-bordered">
      <thead>
	<tr>
	  <th>Date</th>
	  <th>Canvassing</th>
	  <th>Admin</th>
	  <th>Travel</th>
	  <th>Donations</th>
	  <th>Value</th>
	  <th>Canvasser Take</th>
	  <th>Org Take</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="day in hoursGridData">
	  <td>{{day.date}}</td>
	  <td>{{day.canvassingHours}}</td>
	  <td>{{day.adminHours}}</td>
	  <td>{{day.travelHours}}</td>
	  <td>{{day.donations }}</td>
	  <td>{{day.value | currency }}</td>
	  <td>{{day.canvasserTake | currency }}</td>
	  <td>{{day.orgTake | currency }}</td>
	</tr>
      </tbody>
      <tfoot>
	<tr>
	  <td><b>TOTALS:</b></td>
	  <td>{{ getCanvassingTotal() }} Hours</td>
	  <td>{{ getAdminTotal() }} Hours</td>
	  <td>{{ getTravelTotal() }} Hours</td>
	  <td>{{ getDonationsTotal() }} </td>
	  <td>{{ getValueTotal() | currency }}</td>
	  <td>{{ getCnvsrTotal() | currency }}</td>
	  <td>{{ getOrgTotal() | currency }} </td>

	</tr>
      </tfoot>
    </table>
    
    <!--div style="width:100%" ui-grid="hoursGridOptions" class="grid" ui-grid-exporter>	</div-->

    
    
  </div>  
  
  <label>Donations:</label>
  <div  style="width:100%" ui-grid="gridOptions" class="grid" ui-grid-exporter>
  </div>

 

  
</div>

