<div class="col-lg-10">
  <h3>Reimbursements</h3>
  <div class="input-group">
    <span class="input-group-addon">Year:</span>
    <select class="form-control" ng-model="selectedYear" ng-options="year for year in yearOptions" ng-change="changeYear(selectedYear)"></select>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Canvasser:</span>
    <select class="form-control" ng-model="selectedCnvsr" ng-options="cnvsr.userInfo.first_name+' ' + cnvsr.userInfo.last_name for cnvsr in canvassers track by cnvsr.userInfo.pk" ng-change="changeCnvsr(selectedCnvsr.userInfo.pk)"></select>
  </div>

  <br>
  <h5><b>Incoming requests</b></h5>
  <p>
    list
  </p>
  <br>
  <h5><b>History</b></h5>
  <p>
    list
  </p>
  
</div>
