<div class="col-lg-10">
  <h3>Reimbursements</h3>
  <div class="input-group">
    <span class="input-group-addon">Year:</span>
    <select class="form-control" ng-model="selectedYear" ng-options="year for year in yearOptions" ng-change="changeYear(selectedYear)"></select>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Canvasser:</span>
    <select class="form-control" ng-model="selectedCnvsr" ng-options="cnvsr.userInfo.first_name+' ' + cnvsr.userInfo.last_name for cnvsr in canvassers track by cnvsr.userInfo.pk" ng-change="changeCnvsr(selectedCnvsr.userInfo.pk)"></select>
  </div>

  <br>
  <h5><b>Incoming requests</b></h5>
  <div ng-show="incomingRequests.length" cloak>
    <div class="input-group" ng-repeat="request in incomingRequests">
      <span class="input-group-addon">Name: <b>{{ request.worker.first_name }} {{ request.worker.last_name }}</b></span>
      <span class="input-group-addon">Payee: <b>{{ request.payee }}</b></span>
      <span class="input-group-addon">Request By: <b>{{ request.requester.first_name }} {{ request.requester.last_name }}</b></span>
      <span class="input-group-addon">Request On: <b>{{ request.requestedOn }}</b></span>
      <span class="input-group-addon">Amount: <b>{{ request.amount | currency}}</b></span>
      
      <span class="input-group-addon">
	ReviewedBy:
	<select class="form-control" ng-model="request.reviewer" ng-options="reviewer.userInfo.first_name+' ' + reviewer.userInfo.last_name for reviewer in reviewers track by reviewer.userInfo.pk">
	</select>
      </span>

      <span class="input-group-addon">
	Reviewed On :
	<input type="text" class="form-control" size="15" uib-datepicker-popup ng-model="request.reviewedOn" is-open="request.opened" ng-required="true" ng-click="open($index)"/>
	
      </span>      
      
      <span class="input-group-addon">	
	<button class="btn" data-toggle="tooltip" data-placement="left" title="Approve" ng-class="setApproveBtn($index)" ng-click="approveRequest($index)">
	  <span class="glyphicon glyphicon-ok"></span>
	</button>
	
	<button class="btn" data-toggle="tooltip" data-placement="left" title="Reject" ng-class="setRejectBtn($index)" ng-click="rejectRequest($index)">
	  <span class="glyphicon glyphicon-remove"></span>	  
	</button>
	
      </span>
      <span class="input-group-addon">
	<button class="btn" ng-click="saveRequestResponse($index)" ng-class="saveBtnClass($index)" >Save</button>
      </span>
    </div>
  </div>

  <div ng-show="!incomingRequests.length">
    No new reimbursement requests
  </div>
  
  <br>
  <h5><b>History</b></h5>
  
  <div ng-show="showSpinner" id="spinner" ng-hide="!showSpinner"></div>
  
  <div ng-if="!showSpinner">
    <div id="grid1" style="width:100%" ui-grid="gridOptions" class="grid" ui-grid-exporter>
    </div>
  </div>
  
  <div ng-show="!reimbursementsHistory.length">
    No Reimbursements History
  </div>
</div>
