<div class="col-lg-7">
  <div class="btn-group">
    <button ui-sref="bookkeeper.reports.ytd" type="button" class="btn" ng-class="isReportActive(1)">YTD</button>
    <button ui-sref="bookkeeper.reports.c2w" type="button" class="btn" ng-class="isReportActive(2)">Canvasser 2 week</button>
    <button ui-sref="bookkeeper.reports.r3" type="button" class="btn" ng-class="isReportActive(3)">Report 3</button>
    <button ui-sref="bookkeeper.reports.r4" type="button" class="btn" ng-class="isReportActive(4)">Report 4</button>
  </div>
  <br>
  <br>
  <ui-view>
    <p>
      Select a report.
    </p>
  </ui-view>
</div>
