<div>

  <div ng-show="showSpinner" id="spinner" ng-hide="!showSpinner"></div>

  <div ng-if="!showSpinner">
    <div id="grid1" style="width:100%" ui-grid="gridOptions" class="grid" ui-grid-exporter>
    </div>
  </div>

  <br>
  <div style="width:500px">
    <span class="pull-left">
      <canvas width="180" height="220" id="polar-area" class="chart chart-pie"
	      chart-data="chartData" chart-labels="labels" legend="true" chart-options="chartOptions">
      </canvas>
    </span>
    <span class="pull-right">
      <ul class="list-group" style="width:300px">
	<li class="list-group-item" ng-repeat="share in sharesData">
	  {{ getShareHolderName($index) }} - ${{ share.shareVal | number:2 }} ({{ getSharePercent($index)  }} %)
	</li>
      </ul>


    </span>
  </div>

  
</div>
