<div>
  <div class="input-group">
    <span class="input-group-addon btn" ng-click="goToPrev()"> 
      <i class="glyphicon glyphicon-chevron-left"></i>
      Prev</span>    
    <span class="input-group-addon">From:</span>
    <input class="form-control" ng-model="startOfPeriodStr" />
    <span class="input-group-addon">To:</span>
    <input class="form-control" ng-model="endOfPeriodStr"/>
    <span class="input-group-addon btn" ng-click="goToNext()" ng-show="showNext()">Next
      <i class="glyphicon glyphicon-chevron-right"></i>
    </span>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon">Canvasser:</span>
    <select class="form-control" ng-model="selectedCnvsr" ng-options="cnvsr.userInfo.first_name+' '+ cnvsr.userInfo.last_name for cnvsr in canvassers track by cnvsr.userInfo.pk"  ng-change="changeCnvsr(selectedCnvsr.userInfo.pk)"></select>
    <br>
  </div>

  <div ng-show="selectedCnvsr.userInfo.pk">


  <label>Hours:</label>
  <div id="grid2" style="width:100%" ui-grid="hoursGridOptions" class="grid" ui-grid-exporter>
  </div>
  
  </div>  
  
  <label>Donations:</label>
  <div id="grid1" style="width:100%" ui-grid="gridOptions" class="grid" ui-grid-exporter>
  </div>

 

  
</div>

