<div class="col-lg-9">
  <h3>Adjustments</h3>

  <div class="input-group">
    <span class="input-group-addon">Year:</span>
    <select class="form-control" ng-model="selectedYear" ng-options="year for year in yearOptions"  ng-change="changeYear(selectedYear)"></select>
    <br>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon">Canvasser:</span>
    <select class="form-control" ng-model="selectedCnvsr" ng-options="cnvsr.userInfo.first_name+' '+ cnvsr.userInfo.last_name for cnvsr in canvassers track by cnvsr.userInfo.pk"  ng-change="changeCnvsr(selectedCnvsr.userInfo.pk)"></select>
    <br>
  </div>
  
  <br>

  <h4><u>Credit Cards</u></h4>
  <!-- inputs area-->

  <div class="input-group" ng-repeat="unproccessedCC in unproccessedCCs">
    <span class="input-group-addon"><b>Cnvsr:</b>{{ unproccessedCC.user.username }}</span>
    <span class="input-group-addon"><b>Donor:</b>{{ unproccessedCC.donor.name }}</span>
    <span class="input-group-addon"><b>Date:</b>{{ unproccessedCC.formDate }}</span>
    
    <span class="input-group-addon"><b>Last 4:</b> {{ unproccessedCC.cc[0].last4 }}</span>
    <span class="input-group-addon"><b>Value:</b>{{ unproccessedCC.value | currency }} </span>
    <span class="input-group-addon">
      <button class="btn btn-default" ng-class="{'btn-success': unproccessedCC.adjustments.status}" ng-click="unproccessedCC.adjustments.status=1">Accepted</button>
      <button class="btn btn-default" ng-class="{'btn-danger': unproccessedCC.adjustments.status==0}" ng-click="unproccessedCC.adjustments.status=0">Declined</button>
    </span>
    <span class="input-group-addon">
      <div class="inut-group">
	$  <input class="form-control-inline" type="number" style="width:60px" ng-disabled="!unproccessedCC.adjustments.status" ng-model="fee">
      </div>
    </span>
    <span class="input-group-addon">
      <button class="btn btn-primary" ng-disabled="(unproccessedCC.adjustments.status==null) && (fee==null)" ng-click="saveCCAdjustment($index)">Save</button>
    </span>
  </div>
  
  <br>

  <h4><u>Checks</u></h4>

  <div class="input-group" ng-repeat="unproccessedCK in unproccessedCKs">
    <span class="input-group-addon"><b>Cnvsr:</b>{{ unproccessedCK.user.username }}</span>
    <span class="input-group-addon"><b>Donor:</b>{{ unproccessedCK.donor.name }}</span>
    <span class="input-group-addon"><b>Date:</b>{{ unproccessedCK.formDate }}</span>
    
    <span class="input-group-addon"><b>Check Num:</b> {{ unproccessedCK.ck[0].checkNum }}</span>
    <span class="input-group-addon"><b>Check Date:</b> {{ unproccessedCK.ck[0].checkDate }}</span>
    <span class="input-group-addon"><b>Value:</b>{{ unproccessedCK.value | currency }} </span>
    <span class="input-group-addon">
      <button class="btn btn-default" ng-class="{'btn-success': unproccessedCK.adjustments.status}" ng-click="unproccessedCK.adjustments.status=1">Accepted</button>
      <button class="btn btn-default" ng-class="{'btn-danger': unproccessedCK.adjustments.status==0}" ng-click="unproccessedCK.adjustments.status=0">Declined</button>
    </span>
    <span class="input-group-addon">
      <div class="inut-group">
	$  <input class="form-control-inline" type="text" size="5" ng-disabled="!unproccessedCK.adjustments.status" ng-model="fee" placeholder="fee">
      </div>
    </span>
    <span class="input-group-addon">
      <button class="btn btn-primary" ng-disabled="(unproccessedCK.adjustments.status==null) && (fee==null)" ng-click="saveCKAdjustment($index)">Save</button>
    </span>
  </div>
  
  <br>

  <h5><u>History:</u></h5>

  <div id="grid1" style="width:100%" ui-grid="gridOptions" class="grid" ui-grid-exporter>
  </div>
  
  
</div>
