
<h2>{{ orgName }}</h2>
<h3>Bookkeeper page</h3>
<a ui-sref="profile"><-- Back</a>
<br>
<br>
<div class="row">
  <div class="col-lg-2">
    <label>Forms:</label>
    
    <div class="list-group">
      <button ui-sref="bookkeeper.userMgmt" class="btn list-group-item" ng-class="isFormActive(1);">User management</button>
      <button ui-sref="bookkeeper.payterms" class="btn list-group-item" ng-class="isFormActive(2);">Pay Terms</button>
      <!--TODO: make redirect year dynamic -->
      <button ui-sref="bookkeeper.adjustments({year:2017,canvId:0})" class="btn list-group-item" ng-class="isFormActive(3);">Adjustments</button>
      <button ui-sref="bookkeeper.reimbursements({year:2017,canvId:0})" class="btn list-group-item" ng-class="isFormActive(4);">Reimbursements</button>
    </div>
    <br>
    <button ui-sref="bookkeeper.reports" class="btn list-group-item" ng-class="isFormActive(5);">Reports</button>
    <div class="list-group">
    </div>

    
  </div>


  <ui-view>
    Select a form.
  </ui-view>

</div>
