<div class="col-lg-6">

  <form name="dForm" novalidate ng-submit="submitClick()">
    <h3>Donors Form</h3>

    <p ng-show="dForm.user.$invalid">Please select a Recruiter:</p>
    <div class="input-group">
      <span class="input-group-addon">Recruiter:</span>
      <select name="user" class="form-control" ng-model="selectedWorker" ng-options="worker.userInfo.first_name+' '+worker.userInfo.last_name for worker in workers track by worker.userInfo.pk" ng-change="recruiterChange(selectedWorker.userInfo.pk)" required>
      </select>

    </div>



    
    <div class="input-group">
      <span class="input-group-addon">Date:</span>
      <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" ng-required="true" />
      <span class="input-group-btn">
	<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
    
    <hr>
    <h4>Donor:</h4>
    
    Search by name, or enter new donor below.
    <div class="input-group">
      <span class="input-group-addon">Search Donors:</span>
      <input type="text" class="form-control" ng-model="searchDonorName" placeholder="First Last"/>
    </div>
    
    <br>
    
    <div class="input-group">
      <span class="input-group-addon">Name:</span>
      <input type="text" class="form-control" ng-model="donorName"/>
    </div>
    
    <div class="input-group">
      <span class="input-group-addon">Address:</span>
      <input type="text" class="form-control" ng-model="donorAddr"/>
    </div>
    
    <div class="input-group">
      <span class="input-group-addon">City:</span>
      <input type="text" class="form-control" ng-model="donorCity"/>
      <span class="input-group-addon">State:</span>
      <input type="text" class="form-control" ng-model="donorState"/>
      <span class="input-group-addon">Zip:</span>
      <input type="text" class="form-control" ng-model="donorZip"/>
    </div>
    
    <div class="input-group">
      <span class="input-group-addon">Email:</span>
      <input type="text" class="form-control" ng-model="donorEmail"/>
    </div>
    
    <div class="input-group">
      <span class="input-group-addon">Phone:</span>
      <input type="text" class="form-control" ng-model="donorPhone"/>
      <span class="input-group-addon">Over 18?:</span>
      <div class="form-control">
	<input type="radio" ng-model="donorOver18" id="over18" value="1" checked > Yes
	<input type="radio" ng-model="donorOver18" id="under18" value="0"> No
      </div>
    </div>
    
    <hr>
    <h4>Donation:</h4>
    
    <div class="input-group">
      <span class="input-group-addon">Type:</span>
      <div class="form-control">
	<input type="radio" ng-model="donationType" id="dcash" ng-value=1 checked>Cash
	<input type="radio" ng-model="donationType" id="dcc" ng-value=2 />CreditCard
	<input type="radio" ng-model="donationType" id="dcheck" ng-value=3 />Check
      </div>
    </div>
    
    <div ng-show="donationType==1">
      <div class="input-group">
	<span class="input-group-addon">Value:</span>
	<span class="input-group-addon">$</span>
	<input type="number" name="value" class="form-control" ng-model="donationValue" min=1 step=0.5 required/>
      </div>
    </div>
      
    <div ng-show="donationType==2">
      <div class="input-group">
	<span class="input-group-addon">Name On Card:</span>
	<input type="text" class="form-control" ng-model="nameOnCard"/>
      </div>
      <div class="input-group">
	<span class="input-group-addon">Card Last 4:</span>
	<input type="text" class="form-control" ng-model="cardLast4"/>
	<span class="input-group-addon">Exp:</span>
	<input type="text" class="form-control" ng-model="cardExp" placeholder="MM/YYYY"/>
      </div>
      
      <div class="input-group">
	<span class="input-group-addon">Value:</span>
	<span class="input-group-addon">$</span>
	<input type="number" class="form-control" ng-model="donationValue"/>
	<span class="input-group-addon">Recurring:</span>
	<div class="form-control">
	  <input type="radio" ng-model="cardRecurring" ng-value=0 checked>No
	  <input type="radio" ng-model="cardRecurring" ng-value=1 />Yes
	</div>
      </div>
    </div>
    
    <div ng-show="donationType==3">
      <div class="input-group">
	<span class="input-group-addon">Check Number:</span>
      <input type="text" class="form-control" ng-model="checkNum"/>
      </div>
      
      <div class="input-group">
	<span class="input-group-addon">Check Date:</span>
	<input type="text" class="form-control" uib-datepicker-popup ng-model="checkDt" is-open="popup2.opened" ng-required="true" />
	<span class="input-group-btn">
	  <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
	</span>
      </div>
      
      <div class="input-group">
	<span class="input-group-addon">Value:</span>
	<span class="input-group-addon">$</span>
	<input type="number" class="form-control" ng-model="donationValue" required />
      </div>
      
    </div>
    <p ng-show="dForm.value.$invalid && !dForm.value.$pristine" class="help-block">Donation value is invalid</p>
    
    <br>
  
    <button type="submit" class="btn btn-primary" ng-class="{disabled:!dForm.$valid}">Submit</button>
  </form>
  
</div>

<div class="col-lg-4">
  
  <div ng-show="history.length">
    <br>
    <br>
    <h4>History</h4>
    <uib-accordion  close-others="oneAtATime" >
      
      <div uib-accordion-group class="panel-default" ng-repeat="day in history" is-open="histStatus.isOpen[$index]">
	<uib-accordion-heading> {{ day.formDate }} ---- Total: ${{ dayTotal($index) }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': histStatus.isOpen[$index], 'glyphicon-chevron-right': !histStatus.isOpen[$index]}"></i>
	</uib-accordion-heading>
	<ul class="list-group">
	  <li class="list-group-item" ng-repeat="donation in day.donations">{{ donationTypeStr(donation.donationType) }} --    ${{ donation.value }}</li>
	</ul>
	
      </div>
      
    </uib-accordion>
  </div>
  
</div>
