<div class="col-lg-6">
  <h3>Hour Tracking</h3>
  <div class="input-group">
    <span class="input-group-addon">Worker:</span>
    <select class="form-control" ng-model="selectedWorker" ng-options="worker.userInfo.first_name+' '+worker.userInfo.last_name for worker in workers track by worker.userInfo.pk" ng-change="workerChange(selectedWorker.userInfo.pk)"></select>
  </div>

  <div ng-show="selectedWorker">
    <h4>Add Hours:</h4>
    <div class="input-group">
      <span class="input-group-addon">Date:</span>
      <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" ng-required="true" />
      <span class="input-group-btn">
	<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
    

    <div class="input-group clearfix">
      <span class="input-group-addon">Type:</span>
      <select class="form-control" ng-model="hoursType">
	<option value="1" selected>Canvassing</option>
	<option value="2">Admin</option>
	<option value="3">Travel</option>
      </select>
      <span class="input-group-addon">Hours:</span>
      <input class="form-control" type="number" ng-model="hours"/>

      <span class="input-group-btn">
	<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Add Hours" ng-click="addHours()"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
      
    </div>

    <div ng-show="history.length">
      <h4>History:</h4>
      <uib-accordion>
	
	<div uib-accordion-group class="panel-default" ng-repeat="day in history" is-open="histStatus.isOpen[$index]">
	  <uib-accordion-heading> {{ day.date }}  --  Total: {{ dayTotal($index) }} Hours<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': histStatus.isOpen[$index], 'glyphicon-chevron-right': !histStatus.isOpen[$index]}"></i>
	  </uib-accordion-heading>
	  <ul class="list-group">
	    <li class="list-group-item" ng-repeat="entry in day.hours">{{ hoursTypeStr(entry.hoursType) }} -- {{ entry.hours }} Hours</li>
	  </ul>
	  
	</div>
	
      </uib-accordion>
    </div>
    
  </div>
</div>
